{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />

<div class="p4">
  <h1 class="h1">Notes</h1>
  {% if note_list %}
    <div class='mb4 mt4'>
      {% for note in note_list %}
        <a href="{% url 'notes:detail' note.id %}">
          <div class="oh mb1 clearfix">
            <div class="oh bg-light-gray p1">
              <p>
                <span class="h3">{{ note.title }}</span> <br>
                <span class="mid-gray">{{ note.published_at }}</span>
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>You don't have any notes.</p>
  {% endif %}

  <a href="{% url 'notes:new' %}" class="button button-big button-blue">New Note</a>
</div>
