{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />

<div class="p4">
  <h1 class="h1">Create a new note.</h1>

  <form action="{% url 'notes:create' %}" method="post" class="form form-light form-stacked">
    {% csrf_token %}
    <label for="title">Title</label>
    <input type="text" name="title" value="{{ note.title }}" class="input"/>
    <label for="content">Content</label>
    <input type="text" name="content" value="{{ note.content }}" class="input"/>
    <input type="submit" value="Create New Note" class="button button-big button-blue" />
    <a href="{% url 'notes:index' %}" class="button button-big button-gray">Back</a>
  </form>
</div>
